@font-face {
    font-family: 'Doodles';
    src: url('doodles.ttf') format('truetype');
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#text {
    font-family: 'doodles';
    font-size: 24px;
    color: #D1D1D1;
    text-transform: uppercase;
}

#version {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #EEEEEE;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#text {
    color: #d1d1d1;
    font-size: 24px;
    font-family: 'Doodles', sans-serif;
}

.correct {
    color: black;
}

.incorrect {
    color: red;
}
