@font-face {
    font-family: 'Doodles';
    src: url('doodles.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#container {
    text-align: center;
}

#text {
    font-size: 48px;
    font-family: 'Doodles', sans-serif;
}

#text span {
    text-decoration: none;
    position: relative;
}

#text span.correct {
    color: black;
}

#text span.incorrect {
    color: transparent;
    background-image: linear-gradient(90deg, yellow, transparent 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
