@font-face {
    font-family: 'Doodles';
    src: url('doodles.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--typed-color);
}

#container {
    text-align: center;
}

#text {
    color: var(--untyped-color);
    font-size: 24px;
    font-family: 'Doodles', sans-serif; /* Set font-family to 'Doodles' */
}
