@font-face {
    font-family: 'Doodles';
    src: url('doodles.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#container {
    text-align: center;
}

#text {
    color: #D1D1D1;
    font-size: 36px;
    font-family: 'Doodles', sans-serif;
}

#doodled-link {
    font-family: 'Doodles', sans-serif;
    font-size: 18pt;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: black;
}

#doodled-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@keyframes scroll-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(calc(-100vh - 100%));
    }
  }
  